@media screen and ( max-width:840px) {
  .flex{
    flex-direction: column;
  }

  .side,.image{
    width:80%;
    margin:0 auto;
  }
  .side{
    order:1;
    margin-top:40px;
  }

}
@media screen and ( max-width:750px) {
  .side,.image{
    width:100%;
    margin:0 auto;
  }
}
