@media screen and ( max-width:1200px) {
    /*　画面サイズが1051pxから1200pxまではここを読み込む　*/
    .side{
      width:55%;
    }
    header{
      padding:0 50px;
    }
    .image img{
      height:300px;
    }
    .image{
      width:35%;
    }
