@media screen and ( max-width:1050px) {
    /*　画面サイズが768pxから1050pxまではここを読み込む　*/
.nav{
  display:none;
}
header{
  background-color:#000;
  padding:0 30px;
  /*border-bottom:solid 1px #fff;*/
  position:fixed;
  top:0px;
}
#welcome{
  font-size:50px;
}
