*{
  box-sizing:border-box;
  list-style:none;
}
body,ul,li,h1,h2,h3{
  margin:0;
}
h2{
  font-family: paralucent-stencil, sans-serif;
  font-weight: 1000;
  font-style: normal;
}
p{
  font-size:16px;
}
header{
  width:100%;
  height:auto;
  background-color:#ddd;
  padding:0 80px;
  /*border-bottom:solid 1px #fff;*/
  position:fixed;
  top:0px;
}
.container{
  margin:0 auto;
  width:100%;
  max-width:1150px;
}
header ul{
  display:flex;
  justify-content:flex-end;
}
header li{

  line-height:45px;
  padding:0 20px;
  font-size:14px;
}
.logo{
  box-sizing:content-box;
  width:150px;
  padding: 0 50px 0 20px;
  float:left;
}
.top-wrapper{
  background-image:url(../img/computer.jpg);
  height:700px;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  padding:200px 0 100px 0;
  text-align:center;

}
.top-wrapper h1{
  font-size:50px;
}
#welcome{
  display:none;
}
.introduction{
  padding-top:50px;
}
.introductrion,h2{
  font-size:40px;
}
.span{
  margin-right:20px;
}

.fab{
  font-size:60px;
}
.image img{
  border-radius:200px;
}
.sub{
  text-align:center;
  margin-bottom:40px;
  color:#777;
}
.introduction > .container > h2{
  text-align:center;
  width:300px;
  margin:0 auto;
}
.profile p{
  text-align:left;
  margin-left:40px;
  margin-right:40px;
}
.flex{
  display:flex;
  justify-content:space-around;
}
.side{
  width:50%;

}
.image{
  width:40%;
  text-align:center;

}
.side h2{
  text-align:center;
  font-weight:100;
  border-bottom:2px solid #dadada;
}
