@media screen and ( max-width:970px) {
  .image img{
    height:250px;
  }
  .introduction{
    padding:50px 50px 0 50px;
  }
  .side{
    width:60%;
  }

  .logo{
    padding:0;
  }
  .image{
    width:30%;
  }
}
